<div class="col-sm-2">
  <h3>Info</h3>
  <h4>User: {{getFriendlyName()}} </h4>
  <h5>Time taken: {{date}} </h5>
</div>

<div class="col-sm-6">
  <div class="stickContainer">
    <stick-row *ngFor="let s of sticks; let i = index" [sticks]="s" [number]="i" (rowSelected)="selectRow($event)"></stick-row>

    <div class="form-group">
      <button class="btn btn-primary form-control" (click)="endTurn()">End Turn</button>
      <button class="btn btn-default form-control" (click)="restartGame()">Restart Game</button>

    </div>
  </div>
</div>